.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}
.icono-footer{
    margin: auto;
    padding: 5px;
    font-size: 1.55rem;
    background-color: rgb(46, 46, 46);
    border-radius: 20%;
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
.flex-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
