ion-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.text-and-button{
    display: grid;
    grid-template-columns: 2fr 0.1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}
ion-icon{
    color: rgba(245, 245, 245, 0.616);
}
.icon-bar{
    margin-left: 30px;
}
